body{
    background-color: #FFFBF5;
}

.form{
    display: block;
    width: 160px;
    margin: auto;
}

.form-selector{
    display: block;
    margin: auto;
    padding: 5px;
}

.accordion{
    /* --bs-accordion-active-bg: #6F4C5B; */
    --bs-accordion-active-bg: #eeecec;
    /* --bs-accordion-active-bg: 108,117,125; */
    --bs-accordion-active-color: #483434;
    /* --bs-accordion-active-color: #F5E8C7; */
}

.accordion-button{
    font-size: 1.1rem;
    font-weight:bold;
}

.btn-delete {
    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(248, 183, 245);
    --bs-btn-bg: purple;
    --bs-btn-border-color: rgb(88, 0, 88);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(226, 4, 4);
    /* --bs-btn-hover-bg: rgb(70, 1, 70); */
  }

.form-btn{
    margin-top: 1rem;
}


.turm{
    display: block;
    width: 300px;
    margin: auto;
}