.title {
    padding: 20px;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FFFBF5;
}

.form{
    display: block;
    width: 160px;
    margin: auto;
}

.form-selector{
    display: block;
    width: 80px;
    margin: auto;
    padding: 5px;
}