{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}

{% block content %}

<section class="wrapper">
  <div class = "top">Bauen</div>
  <div class = "bottom" aria-hidden="true">Bauen</div>
</section>


<div class = "form">
    <form method="POST" action="{{ url_for('bauen') }}">
        {{ form.csrf_token }}
        {{ form.deckel(class="form-select form-selector")}}
        {{ form.mitte(class="form-select form-selector") }} 
        {{ form.boden(class="form-select form-selector")}} 

        <div class="form-btn">
        {{ form.submit(class="btn btn-outline-dark")}}
        
        <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">🎈</button>
    </div>
    </form>
</div>

<!-- offcanvas -->
<div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Turmübersicht - #️⃣{{türme_anzahl}}</h3>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {%if türme%}

<!-- Modal button -->
      <button type="button" class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            ❌ Bestellungen löschen
        </button>
      </button>


      </a>
      <div class="canvas-turm-container">
      <ol>
      {%for turm in türme%}
        <li class = canvas-turm-element>{{turm["uuid"]}}</li>
      {%endfor%}
    </ol>
  </div>


      {%else%}
      <p>Erstelle deine ersten Türme!</p>
      <img src="https://media.tenor.com/GOCugOUcQecAAAAd/cool-dog.gif" width="833" height="1041.25" alt="Cool Dog GIF - Cool Dog GIFs" style="max-width: 300; max-height: 375;">
      {%endif%}

    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Löschen aller Bestellungen</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ⚡Du bist dabei alle Bestellungen zu löschen!
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('delete_orderlist', id='all') }}">
                <button class="btn btn-delete" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Bist du dir sicher?">
                    ❌ Bestellungen löschen
                </button>
            </a>
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>


<!-- Türme Accordion -->
{%if türme%}
    {%for turm in türme%}
    <div class="accordion turm">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{turm["Turm"]["beschreibung"]}}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <div class="container row">
              <div class ="col-10">
                <strong>{{turm["uuid"]}}</strong>
              </div>
              <div class = "col-2 accordion-btn">
                <a href="{{ url_for('delete_orderlist', id=turm['uuid']) }}">
                  <button type="button" class="btn-delete-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="🗑️">
                    <img src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/cross-icon.png" alt="">
                  </button>
                </a>
              </div>
            </div>
            <ul>
            <li>
                {{turm["Zeit"]["tag"]}}
            </li>
            <li>
                {{turm["Zeit"]["datum"]}}
            </li>
            <li>
                {{turm["Zeit"]["timestamp"]}}
            </li>
          </ul>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
{%endif%}


{% endblock %}